# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride

# ===== Java =====
*.class
*.jar
*.war
*.ear
hs_err_pid*

# ===== Build directories =====
target/
out/
build/

# ===== IDEs =====
# IntelliJ / PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# ===== Logs =====
*.log

# ===== OS / temp =====
*.tmp
*.swp
*~
